* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    font-family: "Cormorant", "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    height: auto;
    /* background-color: antiquewhite;
    border: 3px solid red; */
    margin: 0 auto;
    color: #5B5B5B;
}

/*  */
/* header */
/*  */
header {
    width: 100%;

}

.logo_container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    height: 95px;
    /* border: 1px solid blue; */
    display: flex;
    padding: 0 px;
    justify-content: space-between;
    align-items: center;
}

/* 검색창 */
.search {
    width: 200px;
    height: 35px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 140px;
    height: 25px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 50px;
    border: none;
}

.search button {
    width: 30px;
    height: 25px;
    background: none;
    border: none;
}

.search button img {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-left: 5px;
}


/* 헤더 로고 */
.logo_img>a>img {
    width: 130px;
    cursor: pointer;
}

/* 헤더 우측 아이콘 */
.header_icon {
    display: flex;
    gap: 40px;
}

.header_icon_1 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header_icon_1 img {
    width: 24px;
    height: 24px;
}



/* 주메뉴 */
.header_nav {
    margin: 0 auto;
    width: 60%;
    height: 45px;
    /* border: 2px solid brown; */
    position: relative;
    z-index: 10;

}

.header_nav>ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header_nav>ul>li {
    list-style: none;
    text-align: center;
}

.header_nav>ul>li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    /* 글자와 밑줄 사이 간격 */
}

.header_nav>ul>li>a {
    text-decoration: none;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 600;
}

/*  */
/* 서서브메뉴 */
.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* nav와 동일한 폭 */
    background: #ffffff;

    /* 슬라이드다운 되기 위해 */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* 절대삭제XX */
    transition: all 0.4s ease;
}

.header_nav>ul>li:hover .submenu {
    max-height: 400px;
    opacity: 1;
}

/* 컬렉션 between */
.menu3_between {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 430px; */
    /* border: 1px solid red; */
}

.menu3_flex {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    gap: 60px;
}

.menu3 {
    width: 180px;
    height: 330px;
    /* border: 1px solid greenyellow; */
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;

}

.menu3>ul {
    margin-top: 23px;
}

.menu3>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.menu3>ul>li {
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
    font-size: 17px;
}

.img00 {
    width: 270px;
    height: 270px;
    margin-top: 45px;
    overflow: hidden;
}

.img01 img {
    width: 305px;
    margin: -20px;
}

.img02 img {
    width: 600px;
}

.img03 img {
    width: 270px;
}


/*  */
/* container */
/*  */


/*  */
/* section01 */
/*  */

.section00 {
    max-width: 1320px;
    height: 60px;
    margin: 0 auto;
    border-top: 1px solid #EBEBEB;
}

.sec1_1 {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    /* border: 1px solid red; */
}

/* 제품이미지 */
.p_swiper {
    width: 47%;
    height: 700px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_swiper .swiper {
    max-width: 100%;
    height: 700px;
    position: relative;
}

.p_swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_swiper .swiper-slide img {
    width: 100%;
    object-fit: cover;
}

/* SVG 화살표 버튼 */
.p_swiper .swiper-button-next1,
.swiper-button-prev1 {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}

.p_swiper .swiper-button-next1 img,
.p_swiper .swiper-button-prev1 img {
    width: 100%;
}

/* 오른쪽 버튼 */
.p_swiper .swiper-button-next1 {
    right: 15px;
}

/* 왼쪽 버튼 */
.p_swiper .swiper-button-prev1 {
    left: 15px;
}


/* 페이지네이션 */
.p_swiper .swiper-pagination1 {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0 !important;
    z-index: 3;
}

.p_swiper .swiper-pagination1 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #a7a7a7;
    opacity: 0.6;
    margin: 20px 6px !important;
}

.p_swiper .swiper-pagination1 .swiper-pagination-bullet-active {
    background: #3b3b3b;
    opacity: 1;
}



/* 제품 이미지 옆 텍스트 */
.sec1_text_wrap {
    width: 47%;
    height: auto;
    font-family: "Noto Sans KR";
}

.text_both:nth-of-type(1) {
    border-bottom: none;
    margin-top: -3px;
    /* border: 1px solid black; */
    height: 38px !important;
}

.text_left>h1 {
    font-size: 20px;
    font-weight: 600;
}

.sec1_text_wrap>h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Cormorant";
    margin-top: -3px;
}

.sec1_text_wrap>h3 {
    font-size: 22px;
    padding: 12px 0 14px;
}

.text_both {
    width: 100%;
    height: 70px;
    /* 47%의 100%를 채움 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}

.text_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text_left>h2 {
    width: 180px;
    font-size: 15px;
    font-weight: 500;
}

.text_left>h5 {
    font-size: 15px;
    font-weight: 400;
}



.text_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text_right>h2 {
    font-size: 16px;
    font-weight: 500;
}

.text_right>img {
    width: 24px;
    margin-left: 26px;

}

.down_icon {
    width: 30px !important;
}



/* 가격 변동 표시 부분 */
.price-box {
    width: 130px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: end;
}

.price-box>h2,
p {
    font-size: 20px;
    text-align: end;
    font-weight: bolder;
}

/* 수량체크 button */
.quantity1 {
    width: 440px;
}

/* 반응형 때문에 */

.quantity {
    width: 100%;
    border: 1px solid #8E8E8E;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantity>button {
    width: 14%;
    height: 50px;
    background-color: transparent;
    border: none;
}

.quantity>button:nth-of-type(1) {
    border-right: 1px solid #8E8E8E;
}

.quantity>button:nth-of-type(2) {
    border-left: 1px solid #8E8E8E;
}

.quantity>input {
    width: 84%;
    border: none;
    text-align: center;
    font-size: 16px;
}


.ml_check {
    width: 98px;
    height: 52px;
    font-size: 16px;
    font-weight: 300;
    background-color: #2f2f2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    margin-top: 47px;
}

.purchase {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.purchase>button {
    width: 50%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.purchase>button:nth-of-type(1) {
    background-color: #fff;
    color: #5B5B5B;
    font-size: 16px;
    border: 1px solid #8E8E8E;
    border-radius: 14px 0 0 14px;
}

.purchase>button:nth-of-type(2) {
    background-color: #2f2f2f;
    color: #e3e3e3;
    font-size: 16px;
    border-radius: 0 14px 14px 0;
}


/*  */
/* section02 */
/*  */
.section02 {
    width: 100%;
    padding: 170px 0;
}

.sec2_1 {
    max-width: 1320px;
    height: 821px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.sec2_img {
    width: 47%;
    height: 770px;
}


.sec2_img>img {
    width: 100%;
    object-fit: cover;
}

.sec2_text_warp {
    width: 47%;
}

.sec2_text1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid #e4e4e4;
}

.sec2_text1:nth-of-type(1) {
    border-top: none;
}

.content1 {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.content2 {
    font-size: 14px;
    margin-top: 3px;
    font-weight: 400;
    letter-spacing: 1px;
}

.content3 {
    font-size: 16px;
    margin: 30px 0 50px;
    text-align: center;
     /* line-height: 23px; */
}


/*  */
/* section09 */
/*  */
/*  */
/* section01 */

.section09 {
    max-width: 1320px;
    height: auto;
    /* border: 1px solid red; */
    margin-bottom: 100px;
    margin: 0 auto;
}

.sec1_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 33px;
    /* border: 1px solid red; */
}

.sec1_title>h1 {
    font-size: 39px;
    font-weight: 600;
    color: #5B5B5B;
}

/* 제품슬라이드 */
.section09 .swiper {
    max-width: 1320px;    
    height: 571px;
    color: #5B5B5B;
    margin-right: 20px !important;
}



.section09 .swiper-slide {
    width: 100%;
}

/* 제품 */
.s1_product {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 285px;
    height: 581px;
    cursor: pointer;
}

.s1_product>img {
    width: 283px;
    height: 424px;
    transition: transform 0.3s;
}

.s1_product:hover img {
    transform: scale(1.05);
}

.s1_product>h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.s1_product>h3 {
    font-size: 14px;
    font-weight: 200px;
    text-align: center;
}

.s1_product>h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    text-align: center;
    margin-top: 5px;
}

.s1_product>h2 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.s1_product>h3 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 2px;
}

.s1_product>h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    text-align: center;
    margin-top: 5px;
}







/*  *
/* footer */
/*  */
footer {
    background-color: #f9f9f9;
    font-family: "Noto Sans KR";
    color: #5a5a5a;
}

.foot_wrap {
    max-width: 1320px;
    margin: 0 auto;
    height: 200px;
    padding: 30px 20px;
}


.foot_wrap>ul>li {
    list-style: none;
    font-size: 13px;
    font-weight: 300;
    padding: 3px;
}

.foot_wrap>ul>li:nth-child(5) {
    font-weight: 400;
}

.footer_icon {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    cursor: pointer;
}

.footer_icon>.icon>a>img {
    width: 30px;
    height: 30px;
}

/*  */
/* 플로팅 버튼 */
.floating-buttons {
    position: fixed;
    right: 20px;
    /* 오른쪽 여백 */
    bottom: 8%;
    /* 하단 여백 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 세로 정렬 */
    gap: 16px;
    /* 버튼 사이 간격 */
    z-index: 1000;
    /* 다른 요소보다 위에 표시 */
}

/* 각 버튼 공통 스타일 */
.floating-buttons>button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.736);
    border: 1px solid #DADADA;
    color: rgb(117, 117, 117);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.075);
    transition: background 0.3s;
}

.floating-buttons>button>img {
    width: 27px;
    height: 27px;
    margin-top: 2px;
}

.floating-buttons button:hover {
    background-color: #e4e4e4;
}

.floating_banner>a>img {
    width: 90px;
    height: auto;
    transition: all 0.3s ease;
}

.floating_banner>a>img:hover {
    transform: scale(1.09);

}