* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    font-family: "Cormorant", "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    /* background-color: antiquewhite;
    border: 3px solid red; */
    color: #5B5B5B;
}

/*  */
/* header */
/*  */
header {
    width: 100%;
}

.logo_container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    height: 95px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 검색창 */
.search {
    width: 200px;
    height: 35px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 140px;
    height: 25px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 50px;
    border: none;
}

.search button {
    width: 30px;
    height: 25px;
    background: none;
    border: none;
}

.search button img {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-left: 5px;
}


/* 헤더 로고 */
.logo_img>a>img {
    width: 130px;
    cursor: pointer;
}

/* 헤더 우측 아이콘 */
.header_icon {
    display: flex;
    gap: 40px;
}

.header_icon_1 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header_icon_1 img {
    width: 24px;
    height: 24px;
}


/* 반응형 메뉴 */
.m_menu {
    display: none;
}



/* 주메뉴 */
.header_nav {
    margin: 0 auto;
    width: 60%;
    height: 45px;
    /* border: 2px solid brown; */
    position: relative;
    z-index: 10;

}

.header_nav>ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header_nav>ul>li {
    list-style: none;
    text-align: center;
}

.header_nav>ul>li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    /* 글자와 밑줄 사이 간격 */
}

.header_nav>ul>li>a {
    text-decoration: none;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 600;
}

/*  */
/* 서서브메뉴 */
.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* nav와 동일한 폭 */
    background: #ffffff;
    /* border: 1px solid red; */

    /* 슬라이드다운 되기 위해 */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* 절대삭제XX */
    transition: all 0.4s ease;
}

.header_nav>ul>li:hover .submenu {
    max-height: 400px;
    opacity: 1;
}

/* 컬렉션 between */
.menu3_between {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 430px; */
    /* border: 1px solid red; */
}

.menu3_flex {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    gap: 60px;
}

.menu3 {
    width: 180px;
    height: 330px;
    /* border: 1px solid greenyellow; */
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;

}

.menu3>ul {
    margin-top: 23px;
}

.menu3>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.menu3>ul>li {
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
    font-size: 17px;
}

.img00 {
    width: 270px;
    height: 270px;
    margin-top: 45px;
    overflow: hidden;
}

.img01 img {
    width: 305px;
    margin: -20px;
}

.img02 img {
    width: 600px;
}

.img03 img {
    width: 270px;
}


/*  */
/* container */
/*  */
.container {
    width: 100%;
    margin-bottom: 90px;
}

.main_banner2 {
    display: none;
    /* 모바일 버전 video */
}

.main_banner {
    max-width: 1320px;
    height: 620px;
    margin: 0 auto;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_banner>video {
    width: 100%;
    margin-top: 40px;
    /* 영상 글자가 안보여서 top에 margin 넣어줌 */
}


/*  */
/* section01 */

.section01 {
    max-width: 1320px;
    padding-right: 20px !important;
    margin: 0 auto;
    height: auto;
    color: #5B5B5B;
    /* border: 1px solid red; */

}

.section01 a {
    text-decoration: none;
    color: inherit;
}

.sec1_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 30px 0 11px;
    /* border: 1px solid red; */
}

.sec1_title>h1 {
    font-size: 39px;
    font-weight: 600;
    color: #5B5B5B;
}

/* 제품슬라이드 */
.swiper {
    max-width: 1320px;
    height: 571px;
    color: #5B5B5B;

}

.swiper-slide {
    width: 100%;
}

/* 제품 */
.s1_product {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 285px;
    height: 581px;
    cursor: pointer;
}

.s1_product>img {
    width: 283px;
    height: 424px;
    transition: transform 0.3s;
}

.s1_product:hover img {
    transform: scale(1.05);
}




.s1_product>h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.s1_product>h3 {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.s1_product>h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    text-align: center;
    margin-top: 5px;

}



/*  */
/* section02 */
/*  */
.section02 {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50PX;
    /* border: 1px solid red; */
}

.sec02_banner {
    width: 450px;
    height: 700px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img_box {
    width: 450px;
    height: 562px;
    overflow: hidden;
}

.img_box>img {
    width: 450px;
    transition: 0.4s ease;
}

.sec02_banner>button {
    border: 1px solid #8E8E8E;
    width: 190px;
    height: 47px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #5B5B5B;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.sec02_banner>button:hover {
    background-color: #000000;
    color: #ffffff;
}


.sec02_banner>span {
    width: 450px;
    position: absolute;
    font-size: 38px;
    color: rgb(255, 255, 255);
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.37);

    /*  */
    /* 스크롤 애니메이션 */
    /*  */
    opacity: 0;
    transition: opacity 1s ease, transform 1.2s ease;
}

.text-overlay.active {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}


/*  */
/* section03 - section01 중복 */
/*  */

.section03 {
    margin-bottom: 50px;
}


/*  */
/* scroll_seciton_wrap */
/*  */

/* 더보기 버튼 */
.scroll_seciton_button {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    z-index: 20;
}

.scroll_seciton_button>button {
    border: 1px solid #8E8E8E;
    width: 190px;
    height: 47px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #5B5B5B;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.scroll_seciton_button>button:hover {
    background-color: #000000;
    color: #ffffff;
}


/* 스크롤 애니메이션 이미지 부분 */
.scroll_seciton_wrap {
    height: 100%;
    margin: 0;
}

.scroll_seciton {
    height: 280vh;
    overflow-x: hidden;
    position: relative;
    /* 더보기 버튼 기준 position: relative;  */
}

.comparisonSection {
    position: relative;
    width: 100%;
    max-width: 1320px;
    height: 660px;
    margin: 0 auto;
    /* aspect-ratio: 16/9; */
    overflow: hidden;
}

.comparisonImage {
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.beforeImage {
    z-index: 1;
}

.afterImage {
    z-index: 2;
    overflow: hidden;
}



/*  */
/* section04 */
/*  */

.section04 {
    max-width: 1320px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.sec4_title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 40px;
    /* border: 1px solid red; */
}

.sec4_title>h1 {
    font-size: 30px;
    font-weight: 600;
    color: #5B5B5B;
}

.sec04_grid {
    width: 100%;
    height: 610px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'a b b c'
        'a d e c';
    border: 1px solid #8E8E8E;
    overflow: hidden;
}

.sec04_grid>div {
    border-right: 1px solid #8E8E8E;
    box-sizing: border-box;
}

.sec04_grid>div img {
    width: 100%;
    /* 셀 가로 꽉 채우기 */
    height: 100%;
    /* 셀 세로 꽉 채우기 */
    object-fit: cover;
    /* 이미지 비율 유지하며 잘라서 맞춤 */
    display: block;
    /* img 밑 공백 제거 */
}

.grid01 {
    grid-area: a;
    overflow: hidden;
}

.grid02 {
    grid-area: b;
    border-bottom: 1px solid #8E8E8E;
}

.grid03 {
    grid-area: c;
    border-right: none !important;
}

.grid04 {
    grid-area: d;
}

.grid05 {
    grid-area: e;
}

/* 글자 띄우기 */
.grid00 {
    position: relative;
}

.grid00 p {
    position: absolute;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 7px 7px 20px #0000009c;
    font-family: "Noto Sans KR";
    z-index: 2;
}

/* 오버레이 블랙 배경 */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000000;
    transition: all 0.25s;
    z-index: 1;
}

.grid00:hover .overlay {
    background-color: rgba(0, 0, 0, 0.534);
}



/*  *
/* footer */
/*  */
footer {
    background-color: #f9f9f9;
    font-family: "Noto Sans KR";
    color: #5a5a5a;
}

.foot_wrap {
    max-width: 1320px;
    padding: 30px 20px;
    margin: 0 auto;
    height: 200px;

}


.foot_wrap>ul>li {
    list-style: none;
    font-size: 13px;
    font-weight: 300;
    padding: 3px;
}

.foot_wrap>ul>li:nth-child(5) {
    font-weight: 400;
}

.footer_icon {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    cursor: pointer;
}

.footer_icon>.icon>a>img {
    width: 30px;
    height: 30px;
}

/*  */
/* 플로팅 버튼 */
.floating-buttons {
    position: fixed;
    right: 20px;
    /* 오른쪽 여백 */
    bottom: 8%;
    /* 하단 여백 */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 1000;
}

/* 각 버튼 공통 스타일 */
.floating-buttons>button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.736);
    border: 1px solid #DADADA;
    color: rgb(117, 117, 117);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.075);
    transition: background 0.3s;
}

.floating-buttons>button>img {
    width: 27px;
    height: 27px;
    margin-top: 2px;
}

.floating-buttons button:hover {
    background-color: #e4e4e4;
}

.floating_banner>a>img {
    width: 90px;
    height: auto;
    transition: all 0.3s ease;
}

.floating_banner>a>img:hover {
    transform: scale(1.09);

}






@media (max-width: 480px) {

    body {
        width: 100%;
        /* box-sizing: border-box; */
        overflow: hidden;
    }

    .logo_container {
        height: 60px;
        padding: 0 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red; */
        

    }

    .search {
        width: 53px;
        border: none;
        cursor: none;
    }

    .search button {
        display: none;
    }

    .logo_img {
        margin-top: 7px;
    }

    .logo_img>a>img {
        width: 90px;
        cursor: pointer;
    }

    .header_nav {
        display: none;
    }

    .header_icon {
        gap: 15px;
    }

    .header_icon_1 {
        width: 23px;
        height: 23px;
    }
    .header_icon_1 img {
        width: 100%;
        height: 100%;
    }

    .icon_heart {
        display: none;
    }



    /*  */
    /* 반응형 햄버거 버튼 */
    /*  */


    .m_menu {
        display: block;
        position: relative;
    }

    .hamburger2 {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        width: 23px;
        height: 23px;
        cursor: pointer;
        z-index: 1100;
    }

    .hamburger2 img {
        width: 100%;
        height: 100%;
    }

    /* 메뉴 전체 */
    .header_nav2 {
        position: absolute;
        display: block;
        top: 0;
        left: -82%;
        width: 80%;
        height: 100vh;
        background: #fff;
        color: #5B5B5B;
        font-family: "Cormorant";
        border-right: 1px solid #ccc;
        overflow-y: auto;
        transition: left 0.3s ease;
        z-index: 1000;
        padding-top: 60px;
    }

    .header_nav2 a {
        text-decoration: none;
        color: inherit;
    }

    .header_nav2.active {
        left: 0;
    }

    .header_nav2>ul {
        list-style: none;
        padding: 0 20px;
    }

    .header_nav2 ul li {
        border-bottom: 1px solid #eee;
    }

    .header_nav2 ul li:last-child {
        border-bottom: none;
    }


    .header_nav2>ul>li>a {
        display: block;
        padding: 15px 0;
        font-weight: bold;
        cursor: pointer;
    }

    /* 서브메뉴 */
    .submenu2 {
        display: none;
        flex-direction: column;
        padding-left: 12px;
        padding-bottom: 30px;
    }

    .submenu2>ul {
        list-style: none;
        width: 95%;
        padding: 0 10px;
    }


    .submenu2.active {
        display: flex;
    }

    .submenu2 li {
        padding: 8px 0;
        font-weight: normal;
    }

    .submenu2>li>a {
        padding: 0;
        font-weight: normal;
    }

    .menu-title {
        font-size: 18PX;
        font-weight: bold !important;
        padding: 10px 0;
        border: none !important;
        color: #a4aa73;
        cursor: none;
    }

    .menu-title2 {
        padding-top: 25px !important;
    }





    /* container */
    .main_banner {
        display: none;
    }

    .main_banner2 {
        display: block;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .main_banner2>video {
        width: 100%;
        margin-top: -30px;
    }

    /*  */
    /* section01 */

    .section01 {
        width: 100%;
    }


    .sec1_title {
        margin: 0;
    }

    .sec1_title>h1 {
        font-size: 26px;
    }

    .swiper {
        height: auto;

    }

    .s1_product {
        margin: 0 auto;
        width: 100%;
        max-width: 285px;
        /* 기존 디자인 유지 */
        height: auto;
        cursor: pointer;
    }

    .s1_product>img {
        width: 100%;
        height: auto;
        transition: transform 0.3s;
    }

    .s1_product>h2 {
        font-size: 13px;
    }

    .s1_product>h3 {
        font-size: 11px;
    }

    .s1_product>h4 {
        font-size: 13px;
        margin-top: 5px;
    }

    /*  */
    /* section02 */
    .section02 {
        width: 100%;
        padding: 0 13px;
        height: auto;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        gap: 7px;
        margin-top: 70PX;
        margin-right: 40px;
        /* border: 1px solid red; */
    }

    .sec02_banner {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_box>img {
        width: 100%;
        object-fit: contain;
    }

    .sec02_banner>button {
        position: absolute;
        bottom: 9%;
        left: 50%;
        transform: translate(-50%, -9%);
        width: 110px;
        height: 32px;
        font-size: 13px;
    }

    .section03 {
        margin-bottom: 70px;
    }

    .scroll_seciton {
        width: 100%;
        height: 285vh;
    }

    .scroll_seciton_button {
        bottom: 8%;
        transform: translatY(-8%);
    }

    .scroll_seciton_button>button {
        width: 110px;
        height: 32px;
        font-size: 13px;
    }


    .sec4_title>h1 {
        font-size: 26px;
        margin-bottom: -15px;
    }


    .sec04_grid {
        width: 100%;
        box-sizing: border-box;
        height: 450px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'b b c'
            'e d c';
        border: 1px solid #8E8E8E;
        overflow: hidden;
    }

    .grid01 {
        display: none;
    }

    .grid00 p {
        font-size: 14px;
        word-break: keep-all;
    }

    .foot_wrap {
        padding: 30px 13px;
    }

    .foot_wrap>ul>li {
        font-size: 11px;
    }

    .floating-buttons {
        display: none;
    }

    /* .floating-buttons {

    right: 10px;
    bottom: 30px;
    gap: 10px;
}
.floating_banner {
    display: none;
}

.footer_icon>.icon>a>img {
    width: 18px;
    height: 18px;
} */

}