* {
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    font-family: "Cormorant", "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    /* background-color: antiquewhite;
    border: 3px solid red; */
    margin: 0 auto;
    color: #5B5B5B;
}

/*  */
/* header */
/*  */
header {
    width: 100%;
}

.logo_container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    height: 95px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 검색창 */
.search {
    width: 200px;
    height: 35px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 140px;
    height: 25px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 50px;
    border: none;
}

.search button {
    width: 30px;
    height: 25px;
    background: none;
    border: none;
}

.search button img {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-left: 5px;
}


/* 헤더 로고 */
.logo_img>a>img {
    width: 130px;
    cursor: pointer;
}

/* 헤더 우측 아이콘 */
.header_icon {
    display: flex;
    gap: 40px;
}

.header_icon_1 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header_icon_1 img {
    width: 24px;
    height: 24px;
}


/* 반응형 메뉴 */
.m_menu {
    display: none;
}



/* 주메뉴 */
.header_nav {
    margin: 0 auto;
    width: 60%;
    height: 45px;
    /* border: 2px solid brown; */
    position: relative;
    z-index: 10;

}

.header_nav>ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header_nav>ul>li {
    list-style: none;
    text-align: center;
}

.header_nav>ul>li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    /* 글자와 밑줄 사이 간격 */
}

.header_nav>ul>li>a {
    text-decoration: none;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 600;
}

/*  */
/* 서서브메뉴 */
.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* nav와 동일한 폭 */
    background: #ffffff;

    /* 슬라이드다운 되기 위해 */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* 절대삭제XX */
    transition: all 0.4s ease;
}

.header_nav>ul>li:hover .submenu {
    max-height: 400px;
    opacity: 1;
}

/* 컬렉션 between */
.menu3_between {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 430px; */
    /* border: 1px solid red; */
}

.menu3_flex {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    gap: 60px;
}

.menu3 {
    width: 180px;
    height: 330px;
    /* border: 1px solid greenyellow; */
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;

}

.menu3>ul {
    margin-top: 23px;
}

.menu3>ul>li>a {
    text-decoration: none;
    color: inherit;
}

.menu3>ul>li {
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
    font-size: 17px;
}

.img00 {
    width: 270px;
    height: 270px;
    margin-top: 45px;
    overflow: hidden;
}

.img01 img {
    width: 305px;
    margin: -20px;
}

.img02 img {
    width: 600px;
}

.img03 img {
    width: 270px;
}


/*  */
/* container */
/*  */
.container {
    /* margin-bottom: 100px; */
}

.breadcrumb {
    max-width: 1320px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    height: 59px;
    font-family: "Noto Sans KR";
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid red; */
}

.breadcrumb>p {
    font-size: 14px;
    font-weight: 400;
    color: #8c8c8c;
}


/*  */
/* section01 */
/*  */
.section01 {
    max-width: 1320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 35px;
    margin-bottom: 75px;
}

/* 메인배너 사이즈 */
.sec1_img {
    max-width: 1320px;
    width: 100%;
    height: 570px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1_img img {
    width: 100%;
}

.section01>h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}


.sec1_text {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec1_text>h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    margin-top: -5px;
}


/*  */
/* section02 */
/*  */
.section02 {
    max-width: 1320px;
    padding: 0 20px !important;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* s1_product - 상품wrap */
.s1_product {
    width: 283px;
    height: 570px;
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
}

.img_overlay {
    width: 283px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
}

.img_overlay>img {
    width: 283px;
    height: 424px;
    object-fit: cover;
}

.img_x {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s;
}

.img_overlay:hover .img_x {
    opacity: 1;
}

.s1_product>h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
}

.s1_product>h3 {
    font-size: 13px;
    font-weight: 200px;
    text-align: center;
    margin-top: 5px;
}

.s1_product>h4 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    text-align: center;
    margin-top: 12px;
}

.s1_product>button {
    width: 131px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #7d7d7d;
    color: #6a6a6a;
    border-radius: 50px;
    margin-top: 22px;
    background-color: transparent;
    transition: all 0.25s;
}

.s1_product>button:hover {
    color: white;
    background-color: black;

}

.heart_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27px;
    right: 27px;
}

.heart_icon>img {
    width: 24px;
    height: 24px;
}


/*  */
/* section03 */
/*  */

.section03 {
    max-width: 1320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 120px 0 80px;
    margin-top: 20px;
}

.section03>h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

/* 비디오+이미지 플렉스 */
.sec03_video_img {
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

.sec03_video_img>video {
    width: 75%;
    object-fit: cover;
}

.sec03_video_img>img {
    width: 35%;
    object-fit: cover;
}


/*  *
/* footer */
/*  */
footer {
    background-color: #f9f9f9;
    font-family: "Noto Sans KR";
    color: #5a5a5a;
}

.foot_wrap {
    max-width: 1320px;
    margin: 0 auto;
    height: 200px;
    padding: 30px 20px;
}


.foot_wrap>ul>li {
    list-style: none;
    font-size: 13px;
    font-weight: 300;
    padding: 3px;
}

.foot_wrap>ul>li:nth-child(5) {
    font-weight: 400;
}

.footer_icon {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    cursor: pointer;
}

.footer_icon>.icon>a>img {
    width: 30px;
    height: 30px;
}

/*  */
/* 플로팅 버튼 */
.floating-buttons {
    position: fixed;
    right: 20px;
    /* 오른쪽 여백 */
    bottom: 8%;
    /* 하단 여백 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 세로 정렬 */
    gap: 16px;
    /* 버튼 사이 간격 */
    z-index: 1000;
    /* 다른 요소보다 위에 표시 */
}

/* 각 버튼 공통 스타일 */
.floating-buttons>button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.736);
    border: 1px solid #DADADA;
    color: rgb(117, 117, 117);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.075);
    transition: background 0.3s;
}

.floating-buttons>button>img {
    width: 27px;
    height: 27px;
    margin-top: 2px;
}

.floating-buttons button:hover {
    background-color: #e4e4e4;
}

.floating_banner>a>img {
    width: 90px;
    height: auto;
    transition: all 0.3s ease;
}

.floating_banner>a>img:hover {
    transform: scale(1.09);

}




@media (max-width: 480px) {

    body {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .logo_container {
        height: 60px;
        padding: 0 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red; */


    }


    .search {
        width: 53px;
        border: none;
        cursor: none;
    }

    .search button {
        display: none;
    }

    .logo_img {
        margin-top: 7px;
    }

    .logo_img>a>img {
        width: 90px;
        cursor: pointer;
    }

    .header_nav {
        display: none;
    }

    .header_icon {
        gap: 15px;
    }

    .header_icon_1 {
        width: 23px;
        height: 23px;
    }

    .header_icon_1 img {
        width: 100%;
        height: 100%;
    }

    .icon_heart {
        display: none;
        border: 1px solid red;
    }



    /*  */
    /* 반응형 햄버거 버튼 */
    /*  */


    .m_menu {
        display: block;
        position: relative;
    }

    .hamburger2 {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        width: 23px;
        height: 23px;
        cursor: pointer;
        z-index: 1100;
    }

    .hamburger2 img {
        width: 100%;
        height: 100%;
    }

    /* 메뉴 전체 */
    .header_nav2 {
        position: absolute;
        display: block;
        top: 0;
        left: -82%;
        width: 80%;
        height: 100vh;
        background: #fff;
        color: #5B5B5B;
        font-family: "Cormorant";
        border-right: 1px solid #ccc;
        overflow-y: auto;
        transition: left 0.3s ease;
        z-index: 1000;
        padding-top: 60px;
    }

    .header_nav2 a {
        text-decoration: none;
        color: inherit;
    }

    .header_nav2.active {
        left: 0;
    }

    .header_nav2>ul {
        list-style: none;
        padding: 0 20px;
    }

    .header_nav2 ul li {
        border-bottom: 1px solid #eee;
    }

    .header_nav2 ul li:last-child {
        border-bottom: none;
    }


    .header_nav2>ul>li>a {
        display: block;
        padding: 15px 0;
        font-weight: bold;
        cursor: pointer;
    }

    /* 서브메뉴 */
    .submenu2 {
        display: none;
        flex-direction: column;
        padding-left: 12px;
        padding-bottom: 30px;
    }

    .submenu2>ul {
        list-style: none;
        width: 95%;
        padding: 0 10px;
    }


    .submenu2.active {
        display: flex;
    }

    .submenu2 li {
        padding: 8px 0;
        font-weight: normal;
    }

    .submenu2>li>a {
        padding: 0;
        font-weight: normal;
    }

    .menu-title {
        font-size: 18PX;
        font-weight: bold !important;
        padding: 10px 0;
        border: none !important;
        color: #a4aa73;
        cursor: none;
    }

    .menu-title2 {
        padding-top: 25px !important;
    }


    /* container */
    .container {
        padding: 0 13px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .breadcrumb {
        width: 100%;
        height: 35px;
        padding: 0;
    }

    .breadcrumb>p {
        font-size: 12px;
    }

    /*  */
    /* section01 */
    /*  */
    .section01 {
        width: 100%;
        height: auto;
        gap: 20px;
        margin-bottom: 20px;
    }

    .sec1_img {
        width: 100%;
        height: auto;
    }

    /*  */
    /* section01 */

    .section01 {
        width: 100%;
    }

    .section01>h1 {
        font-size: 20px;
    }

    .sec1_text>h3 {
        width: 300px;
        font-size: 10px;
        margin-top: -5px;
        word-break: keep-all;
        margin-bottom: 50px;

    }


    /*  */
    /* section02 */
    /*  */
    .section02 {
        max-width: 100%;
        padding: 0 !important;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 1px solid red; */
    }

    .s1_product {
        width: 48%;
        height: auto;
        /* border: 1px solid red; */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
    }

    .img_overlay {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }

    .img_overlay>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .s1_product>h2 {
        font-size: 13px;
        margin-top: 5px;
    }

    .s1_product>h3 {
        font-size: 11px;
        margin-top: 2px;
    }

    .s1_product>h4 {
        font-size: 13px;
        margin-top: 4px;
    }

    .s1_product>button {
        width: 100px;
        height: 28px;
        font-size: 10px;
        font-weight: 400;
        margin-top: 14px;
    }

    .heart_icon {
        top: 17px;
        right: 17px;
    }

    .heart_icon>img {
        width: 23px;
        height: 23px;
    }


    /*  */
    /* section03 */
    /*  */

    .section03 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 50px 0 30px;
    }

    .section03>h1 {
        font-size: 26px;
    }


    .sec03_video_img {
        height: 600px;
        box-sizing: border-box;
        margin-top: 30px;
        flex-direction: column;
        gap: 5px;
    }

    .sec03_video_img>video {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .sec03_video_img>img {
        width: 100%;
        height: 50%;
        object-fit: cover;


    }



    /* footer */

    .foot_wrap {
        padding: 30px 13px;
    }

    .foot_wrap>ul>li {
        font-size: 11px;
    }

    .floating-buttons {
        display: none;
    }



}