/*  */
/* section01 */

.section09 {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.sec1_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 33px;
    /* border: 1px solid red; */
}

.sec1_title>h1 {
    font-size: 39px;
    font-weight: 600;
    color: #5B5B5B;
}

/* 제품슬라이드 */
.swiper {
    max-width: 1320px;
    height: 571px;
    color: #5B5B5B;
}

.swiper-slide {
    width: 100%;
}

/* 제품 */
.s1_product {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 285px;
    height: 581px;
    cursor: pointer;
}

.s1_product>img {
    width: 283px;
    height: 424px;
    transition: transform 0.3s;
}

.s1_product:hover img {
    transform: scale(1.05);
}




.s1_product>h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.s1_product>h3 {
    font-size: 14px;
    font-weight: 200px;
    text-align: center;
}

.s1_product>h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans KR";
    text-align: center;
    margin-top: 5px;

}
