* {
    margin: 0;
    padding: 0;
}



.body {
    position: relative;
    height: 500px;
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 20px;
    padding: 0;
}

.body .swiper {
    width: 100%;
    height: 100%;
}

.body .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 2222 */

.section2 {
      position: relative;
      height: 500px;
    }

    .section2 {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .section2  .swiper {
      width: 100%;
      height: 100%;
    }

    .section2  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section2  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .section2 .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background: rgba(0, 0, 0, 0.2);
    }

     .section2 .swiper-pagination-bullet-active {
      color: #fff;
      background: #007aff;
    }


